*.fastq
*.fastq.gz
*.bam
*.bai
*.vcf
*.vcf.gz
*.cram
*.crai
.nextflow/
work/
.cache/
node_modules/
package.json
package-lock.json
*.pyc
__pycache__/
.venv/
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.log
*.err
*.zip

# Patient Reports & High-Volume Data
reports/Daniel_Ehrle*
reports/Melinda_Ehrle*
reports/*pharma_reports*
